#card-field {
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;

	padding: 0;
	margin: 0;

	list-style-type: none;
}

.card {
	width: 250px;
	height: 400px;

	background-color: white;

	border-radius: 15px;

	margin-bottom: 50px;

	text-align: center;

	box-shadow: 0 2px 2px gray;

	transition: 0.3s;
	position: relative;
}

.card > h5 {
	margin-top: 1em;
	text-transform: uppercase;
}

.card:hover {
	transform: translateY(-10px);
	opacity: 0.75;
}

.pokemon-image {
	min-width: 250px;
	min-height: 250px;

	background-size: cover;
}

.pokemon-tags {
	width: 100%;
	display: inline-flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	padding: 10px;
	margin: 0 0 1em 0;
	position: absolute;
	bottom: 0;
	left: 0;
}
.pokemon-tag {
	margin: 0 0 0 0.25em;
	padding: 0.25em 0.5em;
	border-radius: 15px;
	background: var(--stt-clr, white);
}

.pokemon-tags > p {
	margin: 0;
	background: transparent;
}

.normal { --stt-clr: #a4acaf; }
.fighting { --stt-clr: #d56723; }
.flying { --stt-clr: linear-gradient(#3dc7ef 50%, #bdb9b8 0); }
.poison { --stt-clr: #b97fc9; }
.ground { --stt-clr: linear-gradient(#f7de3f 50%, #ab9842 0); }
.rock { --stt-clr: #a38c21; }
.bug { --stt-clr: #729f3f; }
.ghost { --stt-clr: #7b62a3; }
.steel { --stt-clr: #9eb7b8; }
.fire { --stt-clr: #fd7d24; }
.water { --stt-clr: #4592c4; }
.grass { --stt-clr: #9ccd51; }
.electric { --stt-clr: #eed535; }
.psychic { --stt-clr: #f366b9; }
.ice { --stt-clr: #51c4e7; }
.dragon { --stt-clr: linear-gradient(#53a4cf 50%, #f16e57 0); }
.dark { --stt-clr: #707070; }
.fairy { --stt-clr: #fdb9e9; }
.unknown { --stt-clr: firebrick; }
.shadow { --stt-clr: transparent; box-shadow: inset 0 0 3px black; }