@import './reset.scss';
@import './variables.scss';

html,
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  position: relative;

  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: auto;

  height: 100vh;
}
